#!/usr/bin/env bash

# Set bash as our shell, idk why anyone would use something else ;)
#shell="$(which bash)";
#export SHELL="$shell";

# Make vim the default editor.
export EDITOR=/usr/bin/vim;

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# hidpi for gtk apps
export GDK_SCALE=1.5
export GDK_DPI_SCALE=0.5
export QT_DEVICE_PIXEL_RATIO=1.5

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;
